body {
    background-color: #EAF6F6;
}

h1 {
    color: #66BFBF
}

h3 {
    color: #66BFBF
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 3%;
    border-color: #9A9483;
}

table {
    align-items: left;
}
tr {
    align-items: left;
}
td {
    align-items: left;
}